<table class="table table-borderless">
    <tr>
      <th>
      </th>
      <th>
        <div class="card w-100">
          <h5 class="card-header">Section 1
            <button class="btn p-0 m-0 float-right"> <span style=" color: Tomato;">
                <i class="fas fa-trash-alt  color: Tomato;"></i></span></button>
          </h5>
        </div>
      </th>
    </tr>

    <tr *ngFor="let content of contents; let i=index;">
      <td class="align-middle ">
        <input type="checkbox">
      </td>
      <td>
        <div class="card card-body" id="i" name="i" >
          <h5 class="card-text">Introduction</h5>
          <hr>
          <div>
            <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
              data-target="#exampleModal">
              <i class="fas fa-plus pr-1"></i>
              Details
            </button>
            <button type="button" class="btn btn-outline-success btn-sm mx-2 float-right"> <i class="fas fa-play"></i>
              Preview</button>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div class="text-center">
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="addContent()"><i class="fas fa-plus pr-1"></i>
      Content</button>
  </div>