<h4 class="font-weight-light inline">Curriculum</h4>
<button type="button" class="float-right btn btn-success"> <i class="fas fa-play"></i> Preview</button>

<button type="button" class="float-right btn btn-primary mx-2" (click)="addSection()"> <i class="fas fa-plus"></i> Section</button>
<hr>

<!--Section Start-->
<div id="sections" class="pb-3" *ngFor="let section of sections; let i=index;">
  <app-section id="i" name="i"></app-section>      
</div>
<!--Section End-->


<!-- Modal -->
<app-content></app-content>