<h4 class="font-weight-light">Target your students</h4>
<p class="font-weight-lighter">The descriptions you write here will help students decide if your course is the one for
    them.</p>

<hr>

<div>

    <form [formGroup]="targetYourStudents" (submit)="save()" class=" py-3">

        <div class="form-group" formGroupName="learn">
            <label> What will students learn in your course?</label>
            <div formArrayName="answer"
                *ngFor="let answerControl of targetYourStudents.get('learn').get('answer')['controls']; let i=index">
                <input type="text" class="form-control mb-2" [formControlName]="i" id="i" name="answer"
                    placeholder="Add an Answer">
            </div>
                
            <button type="button" name="add" id="add" class="btn btn-outline-primary text-decoration-none btn-sm border-0"
                (click)="addAnswerToLearn()"><i class="fas fa-plus pr-1"></i> Add</button>
            <button type="button" name="remove" id="remove" class="btn btn-outline-danger btn-sm float-right  border-0  text-decoration-none" [disabled]="(targetYourStudents.get('learn').get('answer')['controls'].length) === 1 ? true : false "
                (click)="removeAnswerToLearn()"><i class="fas fa-minus"></i> Remove</button>    
        </div>
        <div formGroupName="prerequisites" class="form-group py-3">
            <label> Are there any course requirements or prerequisites? </label>
            <div formArrayName="answer" *ngFor="let answerControl of targetYourStudents.get('prerequisites').get('answer')['controls']; let i=index">
            <input type="text" class="form-control mb-2" [formControlName]="i" id="i" name="answer"
                placeholder="Add an Answer">
            </div>    
            <button type="button" name="add" id="add" (click)="addAnswerToPrerequisites()"class="btn btn-outline-primary text-decoration-none btn-sm border-0"><i
                    class="fas fa-plus pr-1"></i> Add</button>
            <button type="button" name="remove" id="remove" class="btn btn-outline-danger btn-sm float-right  border-0  text-decoration-none" [disabled]="(targetYourStudents.get('prerequisites').get('answer')['controls'].length) === 1 ? true : false "
                (click)="removeAnswerToPrerequisites()"><i class="fas fa-minus"></i> Remove</button>
        </div>
        <div formGroupName="target" class="form-group py-3">
            <label> Who are your target students?</label>
            <div formArrayName="answer" *ngFor="let answer of targetYourStudents.get('target').get('answer')['controls']; let i=index ">
            <input type="text" class="form-control mb-2" [formControlName]="i" id="i" name="answer"
                placeholder="Add an Answer">
             </div>   
            <button type="button" name="add" (click)="addAnswerToTarget()" id="add" class="btn btn-outline-primary text-decoration-none btn-sm border-0"><i
                    class="fas fa-plus pr-1"></i> Add </button>
        
             <button type="button" name="remove" id="remove" class="btn btn-outline-danger btn-sm float-right  border-0  text-decoration-none" [disabled]="(targetYourStudents.get('target').get('answer')['controls'].length) === 1 ? true : false "
                    (click)="removeAnswerToTarget()"><i class="fas fa-minus"></i> Remove</button>
        </div>
        <button type="submit" (submit)="save()" class="btn btn-success btn-block" [disabled]="!targetYourStudents.valid"> Save </button>
    </form>

</div>