<div class="container">
<div class="row" *ngIf="crafts.length > 0">
    <!-- Gallery item -->
    <div class=" col-xl-4 col-md-12 col-sm-12 mb-4" *ngFor="let craft of crafts;">
        <div class="bg-white rounded shadow-sm">
          
          <img src="{{craft.courseLandingPage.courseImage}}" alt="" class="craftsThumbnail img-fluid card-img-top" *ngIf="craft.courseLandingPage.courseImage !== undefined">

          <img src="../../../assets/Images/courseLandingPage/default.jpg" alt="" class="craftsThumbnail img-fluid card-img-top" *ngIf="craft.courseLandingPage.courseImage == undefined">

            <div class="p-4">
              <h5> <a href="craft/{{craft._id}}" class="text-dark">{{craft.title}}</a></h5>
              <p class="small text-muted mb-0">{{craft.courseLandingPage.courseDescription}}</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>
                <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Trend</div>
              </div>
            </div>
          </div>
      <!-- Gallery End -->
    </div>
</div>    
</div>