/* You can add global styles to this file, and also import other style files */

/* Style the header */
header {
  background-color: #666;
  padding: 1px;
  text-align: center;
  font-size: 35px;
  color: white;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}


.container {
  padding: 20px;
  background-color: #f1f1f1;
}


img {
  width: 100%;
  height: auto;
}


input.ng-invalid.ng-touched {
  border: 1px solid red;
}

@media (min-width: 768px) {
  .navbar-brand.abs
      {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
      }
  }