<div class="container-fluid px-4">

<div class="row pt-2" *ngIf="craft !== undefined">
<div class="col-12 pb-2 mt-0" *ngIf="user !== undefined">
        <a href="/profile/{{user._id}}"><img class="avatarPicture" src="../../../assets/Images/SiginUp.jpg"></a>
        <h4 class="font-weight-lighter inline px-3">{{user.name}}</h4>   

        <hr>
</div>


<div class="col-9 h_iframe">
    <iframe  src="https://www.youtube.com/embed/SF71ks5FrKQ" frameborder="0" allowfullscreen></iframe>

        <i class="far fa-grin-hearts fa-2x p-2"></i> 
        <i class="far fa-laugh fa-2x p-2"></i> 
        <i class="far fa-smile fa-2x p-2"></i> 

        <i class="far fa-frown fa-2x p-2"></i> 

        <i class="far fa-angry fa-2x p-2"></i> 

        <div class="inline floatRight">
        <i class="far fa-bookmark fa-2x p-2 " ></i>
        <i class="fas fa-share fa-2x p-2"></i>
         </div>       
       
    
</div>
<div class="col-3 align-items-start"style="overflow-x: scroll; max-height: 600px;">
    <div class="list-group" >
        <button type="button" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#Section1" role="button" aria-expanded="false" aria-controls="collapseExample">
          <b>Section 1: Materials and tools</b>
        </button>
        <div id="Section1" class="collapse show">
        <button type="button"  class=" list-group-item list-group-item-action list-group-item-light"><span class="ml-2">Materials and tools</span></button>
        </div>
      </div>
    
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#Section2" role="button" aria-expanded="false" aria-controls="collapseExample">
          <b>Section 2: How to begin</b>
        </button>
        <div id="Section2" class="collapse show">
        <button type="button" class="list-group-item list-group-item-action list-group-item-light"> <span class="ml-2">Step 1</span></button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-light"> <span class="ml-2">Step 2</span></button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-light"> <span class="ml-2">Step 3</span></button>
    </div>
      </div>

      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action " data-toggle="collapse" data-target="#Section3" role="button" aria-expanded="false" aria-controls="collapseExample">
          <b>Section 3: Putting it all Together</b>
        </button>
        <div id="Section3" class="collapse show">
        <button type="button" class="list-group-item list-group-item-action list-group-item-light"> <span class="ml-2">Step 1</span></button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-light"> <span class="ml-2">Step 2</span></button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-light"> <span class="ml-2">Step 3</span></button>
    </div>
      </div>

      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action " data-toggle="collapse" data-target="#Section4" role="button" aria-expanded="false" aria-controls="collapseExample">
          <b>Section 4: Bonus Videos</b>
        </button>
        <div id="Section4" class="collapse show">
        <button type="button" class="list-group-item list-group-item-action list-group-item-light"> <span class="ml-2">Step 1</span></button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-light"> <span class="ml-2">Step 2</span></button>
        <button type="button" class="list-group-item list-group-item-action list-group-item-light"> <span class="ml-2">Step 3</span></button>
    </div>
      </div>
    </div>
<div class="col-12">
    <hr>
{{craft.courseLandingPage.courseDescription}}   
</div>
</div>

</div>