<div class="row justify-content-center ">
    <div class="col-4">
        <div class="d-flex flex-column p-3" style="border-style: solid; border-width:2px;">

            <form  (ngSubmit)=onSubmit() #loginForm="ngForm">
                <div class="form-group" >
                    <input type="email" class="form-control" id="email" placeholder="Email" email required name="email" [(ngModel)]=email
                        aria-label="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Password" required name="Password" [(ngModel)]=password
                        aria-label="Full Name">
                </div>
                <p class="text-center text-danger" *ngIf="!isLoginValid"> Invalid username and password</p>    
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block">Login</button>
            </form>
            <div>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            </div>
            <p class="text-center"> <a routerLink="/login">Forgot Password? </a></p>
        </div>
        <div class="d-flex flex-column mt-2 p-1" style="border-style: solid; border-width:2px;">

            <span class="p-2 text-center">Don't have an account? <a routerLink="/signup">Sign up</a></span>


        </div>
    </div>

</div>